body
{
 margin: 0px;
    padding: 0px;
    border: none;
    background-image : url(./images/gradient.png);
    height: 100%;  
    width: 100%;
}

#LoginDiv
{
    width : 15%
    margin: 0px;
    margin-top: 15px;
    margin-right: 1%;
}

#LoginDiv{
    margin-left: 0px;
    padding: 20px;
    padding-top: 10px;
     float: right;
     background-color: coral;
}

#top_bar 
{
    padding: 0px;
    width: 100%;
    display: block;
    background: grey; 
    height: auto;
}

#top_bar_left
{
    float: left;
    display: inline;
    width: 49%;
}
#top_bar_left ul
{
    list-style: none;
}
#top_bar_left ul li
{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}
#top_bar_right
{
    float: right;
    width:49%;
    display:inline;

}
#top_bar_right ul
{
    padding-right: 20px;
    float: right;
    list-style: none;
}
#top_bar_right ul li
{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

#top_bar_right ul li form
{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

#top_username
{
    background-color: bisque;
    margin:0px;
    width:50%;
}
#clear
{
    clear: both;
}



#Kategorijas
{
    display: inline;
    float: left;
    width: 15%;
    margin:0px;
    padding:0px;
    margin-top: 30px;
    background-color: #9999ff;
    
}

#comixzone
{
    width: 67%;
    height: 100%;
    margin-top: 0;
    margin-left: 200px;
    margin-right: 180px;
    border-style: dotted;
    border-width: 4px;
    border-color: lightgray;
    background-image:  url("http://mi9.com/uploads/female-celebrities/4686/lin-ketong-cute-girl-wallpaper_1600x1068_84127.jpg");
    background-position: -350px -10px;
}



.item img
{
    display: inline;
    float: left;
}

.item h3
{
    width: 50%;
    display: inline;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.item h4
{
    width: 55%;
    display: inline;
    float: left;
}

.item fb-like
{
    display: block;
}

.item .description
{
    overflow: auto;
    display:block;
    margin-top: 20px;
    margin-bottom: 20px;
}
#comixzone_reg
{
    width: 70%;
    height: 100%;
    margin-top: 0;
    margin-left: 200px;
    margin-right: 180px;
    border-style: dotted;
    border-width: 4px;
    border-color: lightgray;
    background-image:  url("http://mi9.com/uploads/female-celebrities/4686/lin-ketong-cute-girl-wallpaper_1600x1068_84127.jpg");
    background-position: -350px -10px;
  
}
#comixzone_reg p
{
    color: red;
}
#comixzone_reg p#formp
{
    color: black;
}
#policy
{
    display: inline;
    color: black;
}
#bigFont a
{
    font: bold 30px "Arial";
}
