table tr td
{
    width: 210px;
}

table tr td:first-child
{
    text-align: right;
    width: 200px;
}
table tr td input
{
    width: 180px;
    display: inline;
}

table
{
    display:inline;
    float:left;
}